@model WebApplication.Models.PokerOutputModels

@{
    ViewBag.Title = "OutputView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OutputView</h2>

<div>
    <h4>PokerOutputModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CPR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CSI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
