@model WebApplication.Models.PokerOutputModels

@{
    ViewBag.Title = "Resultados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resultados</h2>

<div>
    @*<h4>PokerOutputModels</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CPR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CSI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PN)
        </dd>

    </dl>
</div>
<div>
    <table>
        <thead>
            Power Number Table
        </thead>
        <tbody>
            @for (int i = 0; i <= 12; i++)
            {
                <tr>
                    @for (int j = 0; j <= 12; j++)
                    {
                        if (Model.Table[i, j])
                        {
                            <td style="background-color:lightgreen"></td>
                        }
                        else
                        {
                            <td style="background-color:red"> C# </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
